.info {
  display: flex;
  margin-bottom: 1rem;
}

.personalInfo {
  flex-grow: 3;
  max-width: 70%;
  font-size: 1.125rem;
}

.personalInfo div {
  padding: .5rem;
}

.personalInfo h3 {
  font-size: 3.5rem;
}

.contactInfo {
  flex-grow: 2;
  font-family: helvetica;
  font-size: 2rem;
  max-width: 200px;
  color: #800029;
  background-color: #f0eede;
  height: 300px;
  margin-left: 2rem;
  margin-top: 1rem;
}

.contactInfo span {
  font-size: 2rem;
  font-family: helvetica;
  font-weight: bold;
}

.contactInfo div {
  padding: 1rem;
}

.contactInfo ul {
  list-style: none;
  padding: 0 0 0 1rem;
  margin: .5rem 0 0 0;
}

.contactInfo a {
  color: #800029;
}

.contactInfo a:hover {
  color: #a6a7a7;
  text-decoration: none;
}

.moreInfo {
  /*might want to move this inside a seperate wrapper
  for better control*/
  padding: .5rem;
  /*color: #0C4745*/

}

.moreInfo .wrapper {
  display: flex;
}

.moreInfo h5 {
  font-size: 30px;
}

.moreInfo .right {
  margin-left: 5rem;
}

.left h5 {
  color: #800029;
  background-color: rgb(240, 238, 222);
  padding-left: .5rem;
}

.left ul {
  background-color: #800029;
  color: white;
}

.left ul {
  margin: 0 0 .5rem 0;
  font-family: helvetica;
  padding-left: 2rem;
}

.right li {
  font-size: 20px;
}

.right h3 {
  margin-top: 2.5rem;
}

.right .expCard:first-child h3 {
  margin-top: 0;
}

.moreInfo h3 {
  font-size: 2rem;
}

/*.moreInfo div:first-child {
  margin-left: 1rem;
}*/

.moreInfo h5 {
  margin-bottom: .375rem;
}



.expCard span {
  margin-left: 1rem;
  color: white;
  font-family: helvetica;
}

.expCard p {
  color: #800029;
  background-color: #f0eede;
  padding-left: 3rem;
  padding-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.expCard p:first-of-type {
  margin-top: .75rem;
  padding-top: .75rem;
}

.expCard p:last-child {
  margin-bottom: .5rem;
  padding-bottom: 1rem;
}

.expCard p a {
  color: #ef5b8a;
}

.imgWrapper {
  background-color: #f0eede;
}

.imgWrapper img {
  width: 100%;
  opacity: .90;
}
